dir=.
siteName=domain.net
basicConstraints=critical,CA:TRUE,pathlen:1
issuer=${siteName}
keyUsage=digitalSignature, nonRepudiation, critical, keyCertSign
extendedKeyUsage=critical,timeStamping

[req]
default_bits = 2048
default_keyfile = ${siteName}.key
distinguished_name = domain_root_DN
prompt = no

default_md=sha256

[domain_root_DN]
C = FR
ST = IDF
L = Paris-75000
O = domain
OU = root
CN = ${siteName}

